﻿<div class="mainbar">
    <div class="main r">
        <h2 class="maintit l"><span class="l maintitbj">您所在的位置：菜单管理</span><span class="r"><a href="" title=""
                                                                                             target="_blank">[帮助]</a></span>
        </h2>

        <div class="gyslistbotmbar l">
            <h2 class="main_title">菜单列表
                <a href="#/addMenu" style="position: relative" class="combo_btn action-button">添加菜单</a>
                <a href="#/uploadMenu" style="position: relative" class="combo_btn action-button">上传菜单</a>
                <a href="#/exportMenu" style="position: relative" class="combo_btn action-button">菜单导出</a>
            </h2>
            <!--<div class="main_filter clr">-->
                <!-- 关键字搜索 -->
                <!--<div class="combo_key">-->
                    <!--菜单名称 <input ng-model="nameLike" type="text" name="key" id="key"/>-->
                <!--</div>-->

                <!--<div class="combo_key">-->
                    <!--<select ng-model="isEnabled">-->
                        <!--<option value="1" selected="selected">启用</option>-->
                        <!--<option value="0">停用</option>-->
                    <!--</select>-->
                <!--</div>-->
                <!--<div class="combo_key">-->
                    <!--<a class="combo_btn" ng-click="searchRole()">查询</a>-->
                <!--</div>-->
            <!--</div>-->
            <div class="main_tabs">
                <dl>
                    <dd class="tabsCell">
                        <div class="c-node">
                            <div id="gridTree" class="gridtree-container">
                                <div class="gridtree-group">
                            <table class="top-table">
                                <thead>
                                <tr>
                                    <!--<th style="width:3%;"><input type="checkbox" name=""></th>-->
                                    <th style="width:10%;">菜单名称</th>
                                    <th style="width:10%;">URI</th>
                                    <!--<th style="width:10%;">菜单描述</th>-->
                                    <!--<th style="width:10%;">创建时间</th>-->
                                    <th style="width:10%;">操作</th>
                                </tr>
                                </thead>
                                <tbody class="top-tbody">
                                </tbody>
                            </table>

                            </div>
                            </div>

                        </div>
                    </dd>
                </dl>
            </div>

        </div>
    </div>
</div>