<div class="headerbar l">
    <div class="logo l">
        <div class="logolt l"><img src="images/new-version/logoerp.gif" alt="百姿" title="百姿"></div>
        <div class="logort r"><span id="userInfo">Welcome {{UserName}}</span> | <a href="javascript:void(0)" ng-click="returnIndex()">返回系统目录</a> | <a  href="userLogin/logout">退出系统</a></div>
    </div>
    <!--<div class="nav">-->
        <!--<ul>-->
            <!--<li><a href="javascript:void(0);" title="用户管理"><span>用户管理</span></a></li>-->
            <!--<li id="current"><a href="javascript:void(0);" title="角色管理"><span>角色管理</span></a></li>-->
            <!--<li><a href="javascript:void(0);" title="部门管理"><span>部门管理</span></a></li>-->
            <!--<li><a href="javascript:void(0);" title="权限管理"><span>权限管理</span></a></li>-->
            <!--<li><a href="javascript:void(0);" title="菜单管理"><span>菜单管理</span></a></li>-->
            <!--<li><a href="javascript:void(0);" title="系统管理"><span>系统管理</span></a></li>-->
        <!--</ul>-->
    <!--</div>-->
</div>