﻿<div class="mainbar">
    <div class="main r">
        <h2 class="maintit l"><span class="l maintitbj">您所在的位置：用户组管理</span><span class="r"><a href="" title=""
                                                                                             target="_blank">[帮助]</a></span>
        </h2>

        <div class="gyslistbotmbar l">
            <h2 class="main_title">用户组列表
                <a href="#/addGroup" style="position: relative" class="combo_btn action-button">添加用户组</a>
                <!--<a href="#/uploadGroup" style="position: relative" class="combo_btn action-button">上传用户组</a>-->
            </h2>
            <!--<div class="main_filter clr">-->
                 <!--关键字搜索-->
                <!--<div class="combo_key">-->
                    <!--用户组名称 <input ng-model="nameLike" type="text" name="key" id="key"/>-->
                <!--</div>-->

                <!--<div class="combo_key">-->
                    <!--<select ng-model="isEnabled">-->
                        <!--<option value="1" selected="selected">启用</option>-->
                        <!--<option value="0">停用</option>-->
                    <!--</select>-->
                <!--</div>-->
                <!--<div class="combo_key">-->
                    <!--<a class="combo_btn" ng-click="searchRole()">查询</a>-->
                <!--</div>-->
            <!--</div>-->

            <div class="main_tabs">
                <dl>
                    <dd class="tabsCell">
                        <div class="c-node">
                            <table class="top-table">
                                <thead>
                                <tr>
                                    <th >用户组名称</th>
                                    <th >状态</th>
                                    <th >创建时间</th>
                                    <th style="width:20%;">操作</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr ng-repeat="group in groupList">
                                    <td ng-if="group.name.length > 16" title="{{group.name}}">
                                        {{group.name.substring(0,16)}}...
                                    </td>
                                    <td ng-if="group.name.length <= 16">
                                        {{group.name}}
                                    </td>
                                    <td ng-if="group.isEnabled">启用</td>
                                    <td ng-if="!group.isEnabled">停用</td>
                                    <td>{{group.createdTime}}</td>
                                    <td>
                                        <a href="#/editGroup/{{group.id}}">编辑</a>
                                        <a href="#/usergroup/{{group.id}}">用户管理</a>
                                        <a href="#/rolegroup/{{group.id}}">角色赋权</a>
                                        <a href="javascript:void(0)" ng-click="modifyStatus(group.id , !group.isEnabled)" ng-show="group.isEnabled">停用</a>
                                        <a href="javascript:void(0)" ng-click="modifyStatus(group.id , !group.isEnabled)" ng-show="!group.isEnabled">启用</a>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                            <div class="table-page-border">
                                <div class="pager-selector" id="pager_selector_COM0_16">
                                    <div class="page-size-selector">
                                        每页显示<select ng-model="paginator.pageSize" ng-options="i as i for i in pageSizeOptions" ng-change="pageChanged()"></select>条&nbsp;&nbsp;
                                        <span class="page-size-selector-num">{{(paginator.page-1)*paginator.pageSize+1}}-{{((paginator.page-1)*paginator.pageSize+paginator.pageSize)<=totalItems?((paginator.page-1)*paginator.pageSize+paginator.pageSize):totalItems}}</span>&nbsp;&nbsp;/&nbsp;&nbsp;
                                        <span class="page-size-selector-total">{{totalItems}}</span>&nbsp;&nbsp;条
                                    </div>
                                </div>
                                <div class="pager" id="pager_COM0_16">
                                    <div class="page-control">
                                        <pagination ng-change="pageChanged()" total-items="totalItems" ng-model="paginator.page" items-per-page="paginator.pageSize" rotate="false" max-size="5" boundary-links="false" directionLinks="false" previous-text="上一页" next-text="下一页" first-text="首页" last-text="末页"></pagination>
                                        共<span class="page-total">{{totalPage}}</span>页，
                                        到第<input type="number" class="page-jump-to" ng-model="paginator.page">页
                                        <input type="button" class="page-jump-btn" value="确定" ng-click="pageChanged()">
                                    </div>
                                </div>
                            </div>

                        </div>
                    </dd>
                </dl>
            </div>

        </div>
    </div>
</div>