<div style="margin-left:9px;">
    <script type="text/javascript" language="javascript">

    </script>


    角色关联
    <hr />
    角色名称：administar
    <p>
        <div style="margin-top:30px; width:100%">
            角色列表
            <hr />
            <table width="100%" height="90px;" style="border-collapse: collapse" class="mx-table">
                <tr>
                    <td align="right">未选角色</td>
                    <td></td>
                    <td align="right">已选角色</td>
                </tr>
                <tr>
                    <td width="48%" valign="top">
                        <table class="mx-table">
                            <thead>
                                <tr>
                                    <th width="35%">
                                        角色名称
                                    </th>
                                    <th width="35%">
                                        创建时间
                                    </th>
                                    <th width="30%">
                                        操作
                                    </th>
                                </tr>
                            </thead>
                            <tbody id="tab_Unselected">
                                <tr class="">
                                    <td>系统管理员</td>
                                    <td>2014-5-20</td>
                                    <td><a class="button" name="brand" onclick="AddRoleToUser(this)"> 关联</a></td>
                                </tr>
                                <tr class="cross">
                                    <td>系统管理员</td>
                                    <td>2014-5-20</td>
                                    <td><a class="button" name="brand" onclick="AddRoleToUser(this)"> 关联</a></td>
                                </tr>
                                <tr class="">
                                    <td>系统管理员</td>
                                    <td>2014-5-20</td>
                                    <td><a class="button" name="brand" onclick="AddRoleToUser(this)"> 关联</a></td>
                                </tr>
                                <tr class="cross">
                                    <td>系统管理员</td>
                                    <td>2014-5-20</td>
                                    <td><a class="button" name="brand" onclick="AddRoleToUser(this)"> 关联</a></td>
                                </tr>
                            </tbody>
                        </table>
                    </td>
                    <td width="4%"></td>
                    <td width="48%" valign="top">
                        <table class="mx-table">
                            <thead>

                                <tr>
                                    <th width="35%">
                                        角色名称
                                    </th>
                                    <th width="35%">
                                        创建时间
                                    </th>
                                    <th width="30%">
                                        操作
                                    </th>
                                </tr>
                            </thead>
                            <tbody id="tab_selected">
                                <tr class="">
                                    <td>系统管理员</td>
                                    <td>2014-5-20</td>
                                    <td><a class="button" name="brand" onclick="RemoveRoleFromUser(this)"> 取消</a></td>
                                </tr>
                                <tr class="cross">
                                    <td>系统管理员</td>
                                    <td>2014-5-20</td>
                                    <td><a class="button" name="brand" onclick="RemoveRoleFromUser(this)"> 取消</a></td>
                                </tr>
                                <tr class="">
                                    <td>系统管理员</td>
                                    <td>2014-5-20</td>
                                    <td><a class="button" name="brand" onclick="RemoveRoleFromUser(this)"> 取消</a></td>
                                </tr>
                                <tr class="cross">
                                    <td>系统管理员</td>
                                    <td>2014-5-20</td>
                                    <td><a class="button" name="brand" onclick="RemoveRoleFromUser(this)"> 取消</a></td>
                                </tr>
                            </tbody>
                        </table>
                    </td>
                </tr>
            </table>

        </div>
    </p>


</div>


