<div id="div_AddOrg" style="margin-left:17px;">
    <!--内容--->
    <span style="font-size:17px;">添加菜单：</span>
    <div class="mx-brandcontent-msgbox">
        <form method="post" name="menu_form" novalidate ng-submit="addMenu()">
            <dl>
                <dt>
                    菜单名称:
                </dt>
                <dd>
                    <input type="text" name="menuName" ng-model="menuName" ng-maxlength="20" required />

                    <div ng-show="menu_form.menuName.$invalid && menu_form.submitted">
                        <small ng-show="menu_form.menuName.$error.required" class="form_validation">填写菜单名称</small>
                        <small ng-show="menu_form.menuName.$error.maxlength" class="form_validation">名称最大为20个汉字</small>
                    </div>
                </dd>
            </dl>
            <dl>
                <dt>
                    访问地址:
                </dt>
                <dd>
                    <input type="url" name="menuUri" ng-model="menuUri" required />如http://www.baidu.com
                    <div ng-show="menu_form.menuUri.$invalid && menu_form.submitted">
                        <small ng-show="menu_form.menuUri.$error.required" class="form_validation">填写访问地址</small>
                        <small ng-show="menu_form.menuUri.$error.url" class="form_validation">访问地址格式有误</small>
                    </div>
                </dd>
            </dl>
            <dl>
                <dt>
                    排序数字:
                </dt>
                <dd>
                    <input type="number" name="menuSort" ng-model="menuSort" min="1" required />
                    <div ng-show="menu_form.menuSort.$invalid && menu_form.submitted">
                        <small ng-show="menu_form.menuSort.$error.required" class="form_validation">排序数字有误</small>
                    </div>

                </dd>
            </dl>
            <dl>
                <dt>
                    选择父菜单:
                </dt>
                <dd>
                    <div id="div_part"></div>
                </dd>
            </dl>
            <dl>
                <dt>&nbsp;&nbsp;</dt>
                <dd>
                    <input type="submit" value="保存" style="width: 90px; height: 27px; background-color: #4D90FE; border: 1px solid #3079ED;
                            color: #FFFFFF; cursor: pointer;" />
                    <input type="button" onclick="javascript:history.go(-1)" value="返回" style="width: 90px; height: 27px; background-color: #4D90FE; border: 1px solid #3079ED;
                            color: #FFFFFF; cursor: pointer;"  />

                </dd>
            </dl>
        </form>
    </div>
</div>
